# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.eb7461u20221e646.API.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
